<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.raiseyourhand"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="18" />

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:resizeable="true"
        android:smallScreens="true"
        android:xlargeScreens="true" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.raiseyourhand.LoginActivity"
            android:label="@string/app_name"
            android:windowSoftInputMode="adjustResize|stateVisible" >
        </activity>
        <activity
            android:name="com.raiseyourhand.instructor.LectureListActivity"
            android:label="@string/title_activity_lecture_list"
            android:parentActivityName="com.raiseyourhand.LoginActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.raiseyourhand.LoginActivity" />
        </activity>
        <activity
            android:name="com.raiseyourhand.instructor.InfoActivity"
            android:label="@string/title_activity_info"
            android:parentActivityName="com.raiseyourhand.instructor.LectureListActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.raiseyourhand.instructor.LectureListActivity" />
        </activity>
        <activity
            android:name="com.raiseyourhand.instructor.LectureActivity"
            android:label="@string/title_activity_in_progress"
            android:parentActivityName="com.raiseyourhand.instructor.InfoActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.raiseyourhand.instructor.InfoActivity" />
            
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.raiseyourhand.instructor.ViewSharedActivity"
            android:label="@string/title_activity_view_shared"
            android:parentActivityName="com.raiseyourhand.instructor.LectureActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.raiseyourhand.instructor.LectureActivity" />
        </activity>
        <activity
            android:name="com.raiseyourhand.instructor.AttendanceActivity"
            android:label="@string/title_activity_attendance"
            android:parentActivityName="com.raiseyourhand.instructor.LectureActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.raiseyourhand.instructor.LectureActivity" />
        </activity>
        <activity
            android:name="com.raiseyourhand.instructor.QuizActivity"
            android:label="@string/title_activity_quiz"
            android:parentActivityName="com.raiseyourhand.instructor.LectureActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.raiseyourhand.instructor.LectureActivity" />
        </activity>
        <activity
            android:name="com.raiseyourhand.student.LectureListActivity"
            android:label="@string/title_activity_lecture_list"
            android:parentActivityName="com.raiseyourhand.LoginActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.raiseyourhand.LoginActivity" />
        </activity>
        <activity
            android:name="com.raiseyourhand.student.InfoActivity"
            android:label="@string/title_activity_info"
            android:parentActivityName="com.raiseyourhand.student.LectureListActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.raiseyourhand.student.LectureListActivity" />
        </activity>
        <activity
            android:name="com.raiseyourhand.student.LectureActivity"
            android:label="@string/title_activity_in_progress"
            android:parentActivityName="com.raiseyourhand.student.InfoActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.raiseyourhand.student.InfoActivity" />
        </activity>
        <activity
            android:name="com.raiseyourhand.student.ViewSharedActivity"
            android:label="@string/title_activity_view_shared"
            android:parentActivityName="com.raiseyourhand.student.LectureActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.raiseyourhand.student.LectureActivity" />
        </activity>
        <activity
            android:name="com.raiseyourhand.student.AskActivity"
            android:label="@string/title_activity_ask"
            android:parentActivityName="com.raiseyourhand.student.LectureActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.raiseyourhand.student.LectureActivity" />
        </activity>
        <activity
            android:name="com.raiseyourhand.student.QuizActivity"
            android:label="@string/title_activity_quiz"
            android:parentActivityName="com.raiseyourhand.student.LectureActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.raiseyourhand.student.LectureActivity" />
        </activity>
    </application>

</manifest>